.small-icon {
  top: 220px;
  left: 320px;
  width: 50%;
  height: 50%;
}

.trading-card {
  border-radius: 24px !important;
  border: 1px solid rgba(255, 255, 255, 0.07) !important;
  background: rgba(226, 229, 255, 0.05) !important;
  backdrop-filter: blur(7.5px) !important;
}

.trading-text {
  max-width: 450px;
}
