.feature-section {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.feature-sentence {
  max-width: 300px;
}

.custom-icon-feature {
  width: 100px;
  height: 3vh;
}

.feature-sub-text {
  color: #a5a5ab;
}

.custom-feature-card {
  background: var(
    --Fill-1,
    linear-gradient(
      135deg,
      rgba(41, 171, 226, 0.16) 0%,
      rgba(122, 22, 230, 0.16) 100%
    )
  ) !important;
  border-radius: var(--12px, 12px) !important;
  min-width: 200px !important;
}

.gradient-feature-btn {
  background: var(
    --Fill-Icon-1,
    linear-gradient(135deg, #29abe2 0%, #7a16e6 100%)
  );
  color: white !important;
  border: none !important;
  height: 40px;
  min-width: 150px;
}
