.testimonial-bg-color {
  background: linear-gradient(
    180deg,
    rgba(4, 1, 48, 0.9) -1%,
    rgba(4, 1, 48, 0.9) 31.16%,
    hsl(244, 96%, 5%) 84.24%
  );
  padding-bottom: 14vh;
}

.star-icon {
  width: 130px;
}

.avatar-icon {
  width: 60px;
  height: 60px;
}

.custom-testimonial-icon {
  width: 120px;
  height: 3vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}

.circle-container {
  position: relative;
  max-width: 200px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-icon-test {
  position: absolute;
  width: 60px;
  height: 60px;
}

.test-icon-child-one {
  margin-left: -100px;
  border: 3px solid white !important;
  border-radius: 50%;
}

.test-icon-child-two {
  margin-left: -30px;
  border: 3px solid white !important;
  border-radius: 50%;
}

.test-icon-child-three {
  margin-left: 30px;
  border: 3px solid white !important;
  border-radius: 50%;
}

.test-icon-child-four {
  margin-left: 90px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  z-index: 1;
}

.manual-circle {
  width: 60px;
  height: 60px;
  border: 3px solid white !important;
  border-radius: 50%;
  background: var(
    --Fill-Icon-1,
    linear-gradient(135deg, #29abe2 0%, #7a16e6 100%)
  );
  color: white !important;
}

.arrow-right-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-radius: 100px;
  background: var(
    --Fill-Icon-1,
    linear-gradient(135deg, #29abe2 0%, #7a16e6 100%)
  );
  color: white !important;
}

.arrow-left-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--Fill-Icon-1, #29abe2);
  background: rgba(255, 255, 255, 0.1);
  color: white !important;
}

.testimonial-card {
  position: relative; /* Allows positioning of pseudo-elements */
  background: var(
    --Fill-1,
    linear-gradient(
      135deg,
      rgba(41, 171, 226, 0.16) 0%,
      rgba(122, 22, 230, 0.16) 100%
    )
  ) !important;
  min-width: 200px !important;
  border-radius: 1.25rem;
  overflow: hidden; /* Ensure the border doesn't go outside the card */
}

/* Pseudo-element for the top-left corner */
.testimonial-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 260px;
  border-top: 1px solid var(--Fill-Icon-1, #29abe2);
  border-left: 1px solid var(--Fill-Icon-1, #29abe2);
  border-top-left-radius: 1.25rem;
}

/* Pseudo-element for the bottom-right corner */
.testimonial-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 250px;
  border-bottom: 1px solid var(--Fill-Icon-1, #29abe2);
  border-right: 1px solid var(--Fill-Icon-1, #29abe2);
  border-bottom-right-radius: 1.25rem;
}
